@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-[#0b0f19] font-sans;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
